.main_container{
 display: flex;
 justify-content: center;
}
.container{
  width:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
}
.profile_image{
  border-radius: 10px;
}
h1{
  color: aqua;
}
.profile_info{
  
  margin: 10px 0px;
}
label{
  display: block;
  font-size: 10px;
  color: grey;
  margin: 5px 0px;
}